{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    {% for post in post_list %}

          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{ post.created }} by {{ post.author }}</p>

            <img src="{{ post.image|thumbnail_url:'small' }}" class="img-thumbnail">
            {{ post.short_body }}
            <hr>

          </div><!-- /.blog-post -->
    {% empty %}
        <p>Нет постов</p>
    {% endfor %}

{% endblock %}

{% block paginate %}
  <nav>
    <ul class="pager">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
    </ul>
  </nav>
{% endblock %}


